/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

:root {
    --primary: #182848;
    --secondary: #4b6cb7;
    --light: #4b6cb7;
}

body {
    font-family: "Ubuntu", sans-serif;
    color: white;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.main {
    min-height: 100vh;
}

/* Colors */
.bg-purple {
    background-color: var(--primary);
}

.bg-purple-ligth {
    background-color: var(--light);
}

.bg-secondary {
    background-color: var(--light);
}

/*Buttons */
.btn-purple {
    color: white;
    background-color: var(--light);
}

.btn-purple:hover,
.btn-purple:active {
    color: white;
    background-color: var(--light);
}

/* Text */
.text-purple {
    color: var(--secondary);
}

/* img */
.img-map {
    max-width: 100%;
    max-height: 100%;
}

.text-last-updated {
    font-size: 0.8rem;
}

.card-week {
    width: 10rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

img {
}

.card-light {
    background: rgba(234, 234, 234, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.card-dark {
    background: rgba(234, 234, 234, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
}

.horizontal-scroll .card-week {
    display: inline-block;
}

.desc {
    white-space: normal;
}

/* Hour cards */
.card-hour {
    border-radius: 20px;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.5rem;
    margin-right: -5rem;
    height: 3.5rem;
    width: 100%;
    line-height: 3.5rem;
    vertical-align: middle;
    background: rgba(234, 234, 234, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.card-hour .hour-light {
    border: 1px solid white;
}

.card-hour .hour-dark {
    border: 1px solid white;
    background-color: var(--light);
}

.desc-2 {
    font-size: 14px;
    margin-right: 0.5rem;
}

.vertical-scroll {
    height: 20rem;
    overflow: auto;
    white-space: nowrap;
}
