/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");

:root {
    --primary: #181c3a;
    --secondary: #3b448a;
    --light: #7768e5;
}

body {
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.main {
    min-height: 100vh;
}

/* Colors */
.bg-purple {
    background-color: var(--primary);
}

.bg-purple-ligth {
    background-color: var(--light);
}

.bg-secondary {
    background-color: var(--light);
}

/*Buttons */
.btn-purple {
    color: white;
    background-color: var(--light);
}

.btn-purple:hover,
.btn-purple:active {
    color: white;
    background-color: var(--light);
}

/* Text */
.text-purple {
    color: var(--secondary);
}

/* img */
.img-map {
    max-width: 100%;
    max-height: 100%;
}

.text-last-updated {
    font-size: 0.8rem;
}

.card-week {
    width: 10rem;
    border-radius: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

img{
    box-shadow: 10px 50px red;
}

.card-light {
    background-color: var(--light);
}

.card-dark {
    border: 1px solid white;
    background-color: var(--primary);
}

.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
}

.horizontal-scroll .card-week {
    display: inline-block;
}

.desc {
    white-space: normal;
}
