/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    --primary: #181c3a;
    --secondary: #3b448a;
    --light: #7768e5;
}

body {
    font-family: "Inter", sans-serif;
}

.main {
    height: 100vh;
}

/* Colors */
.bg-purple {
    background-color: var(--primary);
}

.bg-purple-ligth {
    background-color: var(--light);
}

/*Buttons */
.btn-purple {
    color: white;
    background-color: var(--light);
}

.btn-purple:hover, .btn-purple:active {
    color: white;
    background-color: var(--light);
}
